<div class="height">
    <form [formGroup]='formMessageGroup' *ngIf='this.serviceChannel.getCurrentChannel() != undefined'
        class="centerChat backgroundGrey height">

        <div #chat class="card-body msg_card_body chat">
            <div *ngFor='let msg of messages' [className]="msg.from == getName('name') ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4'"> 
                <p  [className]="msg.from == getName('name') ? 'msg_cotainer' : 'msg_cotainer_send'">
                    {{msg.from}}: {{msg.body}} <br>
                </p>
            </div>
        </div>

        <div class="card-footer">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
                </div>
                <input name="addMessage" formControlName='body' class="form-control type_msg" placeholder="Type your message...">
                <div class="input-group-append">
                    <button class="input-group-text send_btn" (click)='sendMessage()'><i class="fa fa-location-arrow"></i></button>
                </div>
            </div>
        </div>
    </form>

    <!-- <div *ngIf='this.serviceChannel.getCurrentChannel() == undefined' style='height: 100%;'> 
            <img class="img-responsive" src="../../../assets/StartTalk.jpg" style='height: 100%;'>
    </div> -->

</div>