.content {
    width: 100%;
    height: 87vh;
  }

  .header {
    width: 100%;
    height: 8vh;
  }

  .footer{
    width: 100%;
    height: 5vh;
  }

  mat-sidenav-content{
    width: 80vw;
    margin: 0%;
  }

  mat-sidenav{
    width: 20vw;
    margin: 0%;
  }

  .toolbarColor{
    background-color: rgb(53, 163, 53);
    color: white;
  }


 .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  /* display: flex; */
  /* height: 100%; */
  /* align-items: center; */
  /*justify-content: center;*/
}

.example-sidenav {
  padding: 0px;
  width: 40vh;
}

 
