<!-- <div class="header">
    <app-toolbar (toggle)="sidenav.toggle()"></app-toolbar>
</div>

<div class="content">
    <mat-sidenav-container class="content">

        <mat-sidenav #sidenav mode="side" class="aside">

            <mat-toolbar class="toolbarColor">
                <mat-toolbar-row>
                    <h2> Canales </h2>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-nav-list>
                <app-channel></app-channel>
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content style="height: 100%;">

            <mat-toolbar class="toolbarColor" style='height: 10%;'>
                <div style="height: 100%;">
                    <mat-toolbar-row>
                        <h2 class="text-center"> Nombre canal</h2>
                    </mat-toolbar-row>
                </div>
                
            </mat-toolbar>

            <div style='height: 90%;'>
                 <app-chat ></app-chat>
            </div>
            
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

<div class="footer">
    <div style="height: 100%;">
            <p class="text-center" style="margin: 0px;">footer StartTalk 2020</p>
    </div>
</div> -->

<div class="header">
    <app-toolbar (toggle)="drawer.toggle()"></app-toolbar>
</div>

<mat-drawer-container class="content" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-toolbar class="toolbarColor">
            <mat-toolbar-row>
                <h2> Canales </h2>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <app-channel></app-channel>
        </mat-nav-list>
    </mat-drawer>

    <!-- <div class="sidenav-content"> -->
    <div>

        <mat-toolbar class="toolbarColor" style='height: 10%;'>
            <div style="height: 100%;">
                <mat-toolbar-row>
                    <h2 class="text-center" *ngIf='this.serviceChannel.getCurrentChannel() != undefined'> {{this.serviceChannel.getCurrentChannel().name}} </h2>
                </mat-toolbar-row>
            </div>

        </mat-toolbar>

        <div style='height: 90%;'>
            <app-chat></app-chat>
        </div>

    </div>

</mat-drawer-container>