<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form  [formGroup]='formUserGroup'>
            <div class="login100-form">
                <span class="login100-form-title p-b-55">
                    Login
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email" formControlName='email'>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password" formControlName='password'> 
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="contact100-form-checkbox m-l-4">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div *ngIf="error">
                    <br>
                    <span class="error">Credenciales incorrectas</span>
                </div>
                
                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn" (click)='logIn()'>
                        Login
                    </button>
                </div>

                <div class="text-center w-full p-t-42 p-b-22">
                    <span class="txt1">
                        Or login with
                    </span>
                </div>

                <a href="#" class="btn-face m-b-10">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="#" class="btn-google m-b-10">
                    <img src="../../../assets/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>

                <div class="text-center w-full p-t-115">
                    <span class="txt1">
                        Not a member?
                    </span>

                    <a class="txt1 bo1 hov1" routerLink="/register">
                        Sign up now							
                    </a>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

