<!-- <aside> -->
  <!-- <h3 class="text-center channelColor">Canales</h3> -->
 <!--  <p *ngFor='let ch of channels; let i = index;' (click)='setCurrentChannel(ch)' (mouseenter)='mouseOver[i] = true'
    (mouseleave)='mouseOver[i] = false' [className]="mouseOver[i] == true || getCurrentChannel() == ch.id ? 'selected' : 'noSelected'">
    {{ch.name}}
</p>
</aside> -->

<aside class="card-body contacts_body chat">
    <ul class="contacts">
      <li class="active" *ngFor='let ch of channels; let i = index;' (click)='setCurrentChannel(ch)' (mouseenter)='mouseOver[i] = true'
      (mouseleave)='mouseOver[i] = false' [className]="mouseOver[i] == true || getCurrentChannel() == ch.id ? 'selected' : 'noSelected'">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img src="https://static.dribbble.com/users/1387431/screenshots/10969839/jett-valorant--logo.jpg" class="rounded-circle user_img">
            <!-- <span class="online_icon"></span> -->
          </div>
          <div class="user_info">
            <span>{{ch.name}}</span>
          </div>
        </div>
      </li>
    </ul>
</aside>