.selected{
    background-color: rgb(82, 170, 70);
    padding: 10px;
    margin: 0px;
    cursor: grab;
}

.noSelected{
    background-color: white;
    padding: 10px;
    margin: 0px;
}

.channelColor{
    background-color: rgb(82, 170, 70);
    margin: 0;
}

.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.active{
    /* margin: 35px; */
    /* width: 70vh;  */
} 

.chat{
    overflow-y: scroll;
    height: 76vh;
    overflow-x: hidden;
    max-width: initial;
    display: inline-block;
    word-break: break-word;
    width: 100%;
}

.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.img_cont{
    position: relative;
    height: 40px;
    width: 40px;
}

.user_img{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
}

.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

/* .online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
} */

.user_info span{
    font-size: 1rem;
    font-family: cursive;
    /* color: white; */
}

.user_info p{
	font-size: 10px;
	/* color: rgba(255,255,255,0.6); */
}

.chat::-webkit-scrollbar {
    width: 7px;
}

.chat::-webkit-scrollbar-thumb{
    background: green;
}