<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form  [formGroup]='formUserGroup'>
            <div class="login100-form">
                <span class="login100-form-title p-b-55">
                    Register
                </span>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="email" name="email" placeholder="Email" formControlName='email'>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" name="pass" placeholder="Password" formControlName='password'> 
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" name="passRepeated" placeholder="Confirm Password" formControlName='passwordRepeated'> 
                    <span class="focus-input100"></span>
                </div>

                <div *ngIf="formUserGroup.hasError('passwordsNotEquals') && formUserGroup.get('passwordRepeated').dirty">
                    <div class="passwordNotMatch">
                        Las contraseñas no coinciden
                    </div>
                </div>

                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn" (click)='signUp()' [disabled]="formUserGroup.invalid">
                        Sign Up
                    </button>
                </div>

                <div class="text-center w-full p-t-115">
                    <span class="txt1">
                        Are you a member?
                    </span>

                    <a class="txt1 bo1 hov1" routerLink="/login">
                        log in now							
                    </a>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
